{% extends "base.html" %}

{% block title %}
Contact | Rana Universe
{% endblock %}

{% block content %}

<div class="container py-5">

    <h1>Contact Us</h1>

    <form>

        <div class="mb-3">
            <label class="form-label">
                Name
            </label>

            <input type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">
                Email
            </label>

            <input type="email" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">
                Message
            </label>

            <textarea rows="5" class="form-control"></textarea>
        </div>

        <button class="btn btn-primary">
            Send Message
        </button>

    </form>

</div>

{% endblock %}